* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

aside {
    width: 300px;
    height: calc(100% - 75px);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}
