* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

aside {
    width: 275px;
    height: calc(100% - 75px);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.logo-menu img {
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
}

aside .logo-menu ul {
    margin-top: 20px;
}

aside li>a {
    color: #8b8d8f;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 20px;
}

aside li>a:hover {
    color: white;
}

aside .logo-menu li>a:hover {
    border-left: 5px solid green;
}

aside .logo-menu i {
    font-size: 25px;
    padding-top: 20px;
    padding-right: 3px;
}

aside .logo-menu span {
    font-size: 20px;
    padding-left: 10px;
}

aside h3 {
    color: white;
    margin-top: 30px;
    margin-left: 20px;
}

aside .playlist li {
    padding-top:20px;
}

.crea-playlist {
    margin-top: 20px;
    margin-left: 20px;
}

aside .crea-playlist span {
    padding-left: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #8b8d8f;
    position: relative;
    bottom: 6px;
}

aside .crea-playlist a {
    text-decoration: none;
}

aside .playlist i {
    font-size: 30px;
    color: #8b8d8f;
}

aside .coda-aside {
    position: relative;
    top: 400px;
}

aside .install {
    margin-bottom: 10px;
}

aside .install span {
    padding-left: 10px;
}

aside .install a {
    margin-left: 20px;
    color: #8b8d8f;
    text-decoration: none;
}

aside .user {
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #8b8d8f;
}

aside .user img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding-top: 10px;
}

aside .user span {
    color: white;
    position: relative;
    bottom: 6px;
    padding-top: 10px;
}


header {
    height: 75px;
    width: calc(100% - 275px);
    background-color: #0b0b26;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 275px;
}


header button {
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    background-color: #0b0b26;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 20px;
    transition: 0.2s;
}

header button:hover {
    width: 220px;
    height: 50px;
}

main {
    height: 5000px; /*-- da elimilare --*/
    width: calc(100% - 275px);
    background-color: #121417;
    margin-left: 275px;
    margin-top: 75px;
}

main .prima-row ul {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 50px;
}

main .prima-row li>a {
    color: #8b8d8f;
    text-decoration: none;
}

main .prima-row li>a:hover {
    border-bottom: 1px solid lightgreen;
}

main .seconda-row h2 {
    padding-top: 40px;
    padding-left: 20px;
    color: white;
}




/*-- footer --*/

footer {
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #4f4f54;
}

footer .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer i:hover {
    cursor: pointer;
}

footer .sinistra i {
    color: #8b8d8f;
}

footer .centro i {
    font-size: 20px;
    padding: 5px 20px;
    color: white;
}

footer .centro i:nth-child(3) {
    font-size: 30px;
    transition: 0.2s;
}

footer .centro i:nth-child(3):active {

}

footer .centro .sotto {
    width: 320px;
    height: 2px;
    background: black;
    margin-top: 10px;
    position: relative;
}

footer .centro .sotto::before {
    content: "0:25";
    display: inline-block;
    position: absolute;
    left: -30px;
    transform: translateY(-50%);
}

footer .centro .sotto::after {
    content: "4.30";
    display: inline-block;
    position: absolute;
    right: -30px;
    transform: translateY(-50%);
}

footer .destra  {
    display: flex;
    align-items: center;
}

footer .destra i {
    color: white;
    padding-right: 20px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

/*-- media query aside --*/

@media screen and (max-width: 768px) {
    aside {
        width: 50px;
    }
    aside span {
        display: none;
    }
    aside h3 {
        display: none;
    }
    aside .crea-playlist {
        display: none;
    }
    aside .logo-menu img {
        display: none;
    }
    header {
        width: calc(100% - 50px);
        position: fixed;
        top: 0;
        left: 50px;
    }
    main {
        width: calc(100% - 50px);
        margin-left: 50px;
    }
}
